/*

Este arquivo apenas se responsabiliza em modificar os componentes básicos.
se responsabiliza por coisas como
 - cores principais
 - estilos de componentes básicos HTML
 - letras / fontes

uma coisa que aprendi com este projeto foi a regra 60-30-10 para cores.
usar 
60% da cor principal. ou "cor principal"
30% da cor segundaria ou "cor decorativa"
10% da cor terciaria ou "cor que chama pra fazer algo"

básicamente na regra de cores existem as cores para chamar a atenção. quanto menos usada, menos acostumado o usuário esta com a cor
e portanto mais chamativa ela é.

*/

/*
Aqui algumas fontes importadas do google fonts.
*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gudea&family=Roboto:wght@300;900&family=Sanchez&display=swap');

:root {
    /* 
        cores   
*/
    --cor-principal: rgba();
    --cor-fundo: rgba();
    --cor-fundo-secundaria: rgba();
    --cor-terciaria: rgba();

    --cor-texto-padrao: rgba(1, 1, 1, 1);
    --cor-texto-invertido: var(--cor-fundo);
    --cor-texto-titulo: rgba(1, 1, 1, 1);
    --cor-texto-subtitulo: rgba(1, 1, 1, 1);
    /* 
        Tamanhos de fonte. 
    */
    --tamanho-titulo: 2rem;
    --tamanho-subtitulo: 1.5rem;
    --tamanho-normal: 1rem;
    /*
    
        Fontes Utilizadas;
        nesse projeto pretendo usar 3 fontes.
        - uma pro logo
        - uma pro titulo.
        - uma padrão
        sempre posso escrever com a fonte padrão porem em negrito.
    */

    --fonte-logo: 'Great Vibes', cursive;

    --fonte-titulo: 'Sanchez', serif;
    --fonte-padrao: 'Roboto', sans-serif;
    --fonte-extra: 'Gudea', sans-serif;


    --cor-logo: rgba(245, 245, 245, 1);
    --cor-principal: var(--cor-logo);
    --cor-fundo-principal: rgb(235, 235, 235);
    --cor-fundo-secundaria: rgba(74, 74, 74, 1);
    --cor-fundo-secundaria-escuro: rgba(34, 34, 34, 1);
    --cor-chamado-acao: rgba(251, 109, 20, 1);

}

* {
    position: relative;
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    position: relative;
    transition: all ease-in-out 0.3s;

    z-index: 10;
}

body,
.body,
#body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fonte-padrao);

}




a {
    color: var(--cor-principal-botao);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:focus,
a:active {
    color: var(--cor-principal-botao);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

p {
    margin-bottom: 30px;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn.btn-md {
    padding: 10px 20px !important;
}

.btn.btn-lg {
    padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #fb6e14;
    color: #fff;
    border: 2px solid #fb6e14;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #f16104 !important;
    border-color: #f16104 !important;
}

.btn-primary.btn-outline {
    background: transparent;
    color: #fb6e14;
    border: 2px solid #fb6e14;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
    background: #fb6e14;
    color: #fff;
}

.btn-success {
    background: #58ca7e;
    color: #fff;
    border: 2px solid #58ca7e;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background: #45c46f !important;
    border-color: #45c46f !important;
}

.btn-success.btn-outline {
    background: transparent;
    color: #58ca7e;
    border: 2px solid #58ca7e;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
    background: #58ca7e;
    color: #fff;
}

.btn-info {
    background: #1784fb;
    color: #fff;
    border: 2px solid #1784fb;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background: #0477f4 !important;
    border-color: #0477f4 !important;
}

.btn-info.btn-outline {
    background: transparent;
    color: #1784fb;
    border: 2px solid #1784fb;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
    background: #1784fb;
    color: #fff;
}

.btn-warning {
    background: #fed330;
    color: #fff;
    border: 2px solid #fed330;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background: #fece17 !important;
    border-color: #fece17 !important;
}

.btn-warning.btn-outline {
    background: transparent;
    color: #fed330;
    border: 2px solid #fed330;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
    background: #fed330;
    color: #fff;
}

.btn-danger {
    background: #fb4f59;
    color: #fff;
    border: 2px solid #fb4f59;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background: #fa3641 !important;
    border-color: #fa3641 !important;
}

.btn-danger.btn-outline {
    background: transparent;
    color: #fb4f59;
    border: 2px solid #fb4f59;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
    background: #fb4f59;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    box-shadow: none;
}

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
}

.form-control:active,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #fb6e14;
}