<!DOCTYPE html>
<html lang="br">

<head>
	<title>Foodee</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content=" Um site de restaurante, o modelo original foi feito pelo FREEHTML5, mas esta versão é minha e foi feita do chão. " />
	<meta name="keywords"
		content=" aqui são as tags para o SEO do google, não vou fazer pra não atrapalhar o projeto original do freehtml5. " />
	<meta name="author" content="Leonardo." />


	<!-- favicon -->
	<link rel="shortcut icon" href="facivon.ico" />


	<!-- links css -->
	<link rel="stylesheet" href="../css/main.css">

	<!-- links fontes -->


</head>

<body class="tela-dupla " style="background-color: rebeccapurple;">


	<h1 class="fh5co-container">
		Hello, World
	</h1>





	<!-- scripts utilizadas -->

</body>

</html>